*{
    margin: 0;
    padding: 0;
}
/* ================
  common css start
=================== */
.container{
    width: 1140px;
    margin: 0 auto;
}
.box{
    display: flex;
    
}

/* ================
  common css end
=================== */
/* ================
  navber css start
=================== */
nav{
    background: red;
    padding: 30px 0px;
}
.ul{
    display: flex;
    column-gap: 47px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    list-style: none;
}
.logo_part{
    width: 46%;
}
.menu_part{
    width: 44%;
}
.button_part{
    width: 10%;
    
}
nav .box{
    align-items: center;
}
.button_part button{
    border: 2px solid white;
    padding: 10px 20px;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
}
/* ================
  navber css end
=================== */
/* ================
  banner css start
=================== */
.banner{
    
    background-image: url('./images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
   
}
.banner_part{
    padding-top: 260px;
    padding-bottom: 340px;

}
.banner_part h2{
  font-size: 64px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 843px;
  padding-bottom: 30px;

}
.banner_part button{
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 14px 40px;
  background: red;
  border: 0;
  border: 1px solid transparent;
  transition: .4s;
  
  

}
.banner_part button:hover{
    background: transparent;
    border-color: red;

}
/* ================
  banner css end
=================== */
/* ================
  Country css start
=================== */
.country{
    padding-top: 70px;
    padding-bottom: 100;
}
.country .left{
    width: 40%;
    
}
.country .left h3{
    font-size: 48px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    width: 290px;

    
}
.country .box{
    align-items: center;
}

.country .right{
    width: 60%;
    
}
.country .right p{
    font-size: 16px;
    font-weight: 500;
    color: #6C6C6C;
    font-family: "Poppins", sans-serif;
    width: 651px;

    
}
.country .box2{
    justify-content: space-between;
}




/* ================
  Country css end
=================== */
/* ================
  Service  css start6
=================== */

.sercive{
  padding-top: 30px;
}
  .sercive .left{
    width: 50%;
   height: 400px;
  

  }

  .sercive .left div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

  }
  .sercive .left h2{
    font-size: 64px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: black;

  }
  .sercive .left p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #6C6C6C;
    width: 405px;

  }
  .sercive .right{
    width: 50%;
    height: 400px;
   

  }
  .sercive .right .rigth_Img{
    width: 100%;
    height: 100%;
    background-image: url("./images/serviceImg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
    
  }
  .sercive .right .rigth_Img .overly{
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35,0.6 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sercive .right h2{
    font-size: 36px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;
    padding-bottom: 20px;
  }
  .sercive .right button{
    border: 2px solid white;
    padding: 10px 20px;
    background: red;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    border: 0px;
  }
  .sercive .box{
    flex-wrap: wrap;
  }
  
/* ================
  Service  css end
=================== */
/* ================
  About  css start
=================== */

.about {
  padding: 136px 0px;
}

.about .main_image{
  width: 100%;
  background-image: url('./images/aboutImg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  overflow: hidden;
  
}
.about .main_image .overly{
  width: 30%;
  height: 100%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -30%;
  transition: 0.4s;
}
.about .main_image .overly h4{
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 262px;
  
  
}

.about .main_image button{
  border: 2px solid white;
  padding: 10px 20px;
  background: red;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
  border: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: .4s;
  

}
.about .main_image:hover .overly{
  left: 0;

}

.about .main_image:hover button{
  left: 64%;

}
/* ================
  About  css end
=================== */



